$primary: #1E5A96;
$secondary: #BA5A31;

$light: lighten($primary, 75%) !default;
$info:  #2C97A6;


$dark: #403F4C !default;
$blue: #72A1E5 !default;
$orange: #BA5A31 !default;

$td-enable-google-fonts: true;

$google_font_name: "Roboto";
$google_font_family: "Roboto:300,300i,400,400i,700,700i";